#pickup-map-container {
  height: calc(100vh - 80px);
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
}

.button-container {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
