#pickup-map-container {
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
}

.button-container {
  position: absolute;
  bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#btn-request-needle-pickup {
  display: block;
  background-color: #C53030;
  color: white;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  border: none;
}
