#pickup-request-container {
  height: 100%;
}

#btn-submit-request {
  display: block;
  background-color: #C53030;
  color: white;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  border: none;
}
