<div class="page-container px-5 pt-10">
  <span class="block text-gray-700 text-lg font-bold mb-6">Admin Login</span>
  <form id="login" [formGroup]="formGroup">

    <div class="mb-4">
      <label class="form-label" for="username">
        Username
      </label>
      <input class="txt-input focus:outline-none focus:shadow-outline"
             id="username"
             type="text"
             placeholder="Username"
             formControlName="username">
    </div>

    <div class="mb-4">
      <label class="form-label" for="password">
        Password
      </label>
      <input class="txt-input focus:outline-none focus:shadow-outline"
             id="password"
             type="password"
             placeholder="Password"
             formControlName="password">
    </div>

    <button class="btn btn-red" type="submit" [routerLink]="'/f19-a-team/admin/pickup-map'">
      Login
    </button>
  </form>
</div>
