<div class="page-container px-5">
  <span class="block text-gray-700 text-lg font-bold mb-6">Needle Pickup</span>
  <form id="pickup-request" (submit)="submitPickup()" [formGroup]="formGroup">

    <div class="mb-4">
      <label class="form-label">
        Description of Needle Location:
      </label>

    </div>

    <div class="mb-4">
      <span class="form-label">
        Approx. Number of Needles Reported:
      </span>
    </div>

    <div class="mb-4">
      <label class="form-label" for="count">
        Number of Needles Found:
      </label>
      <input class="txt-input focus:outline-none focus:shadow-outline"
             id="count"
             type="number"
             placeholder="Number"
             formControlName="count">
    </div>

    <button class="btn btn-red" type="submit">
      Submit Pickup Confirmation
    </button>
  </form>
</div>
