<div class="page-container">
  <span class="block text-gray-700 text-lg font-bold mb-6">Needle Pickup</span>
  <form id="pickup-request">

    <div class="mb-4">
      <label class="form-label">
        Description of Needle MapLocation:
      </label>

    </div>

    <div class="mb-4">
      <span class="form-label">
        Approx. Number of Needles Reported:
      </span>
    </div>

    <div class="mb-4">
      <label class="form-label" for="count">
        Approx. Number of Needles Found:
      </label>
      <input class="txt-input focus:outline-none focus:shadow-outline"
             id="count"
             type="number"
             placeholder="Number">
    </div>

    <button class="btn btn-red" type="submit">
      Submit Pickup Confirmation
    </button>
  </form>
</div>
